#tutorialheader
  #main-header
    .container
      #logo
        = link_to image_tag( '/images/cm-logo-full.png'), root_path
    
    %nav
      %ul.header_links
        %li
          = form_for task do |f|
            = f.hidden_field :status, :value => 'complete'
            = f.submit "Finish"
        %li
          = help_link(task)
#tutorialbody
  %iframe{:src => task.link}
