#main-header
  .container
    #logo
      = link_to image_tag( '/images/codemt_logo.png'), root_path
  %nav
    =image_tag('/images/neal.jpg', :class => "profile-pic")
  
    %ul.header_links
      %li= link_to "Profile", root_path
      %li= link_to "Dashboard", root_path
      %li= link_to "Messages", root_path
      %li{:class => "last"}= link_to "Logout", root_path
      
      /%li= link_to "FAQ", faq_path
      /%li= link_to "Contact", contact_path
    