!!! 5
%html
  %head
    %meta{:name => "google-site-verification", :content=> "Kb3W4JVjC9Dri_pwIpZMFfeelWG3ycEc92oXiU58Fxc"}
    %title Code Mountain
    = render 'layouts/head'
    = stylesheet_link_tag 'application'
%body{:class => "application #{controller_name} #{action_name}"}
  #main-header
    .container
      #logo
        = link_to image_tag( '/images/cm-logo-full.png'), root_path
    %nav
      - if user_signed_in?
        = gravatar_image_tag(current_user.email, :class => "profile-pic")
    
      %ul.header_links
        %li= render 'devise/menu/registration_items'
        %li= link_to "Dashboard", root_path
        %li= link_to "Messages", root_path
        %li= render 'devise/menu/login_items'
  .content
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
  = render 'layouts/debug'
  = render 'layouts/crazyegg'