!!! 5
%html
  %head
    %meta{:content => "Flz45oEdK7QLsvgPrKGovRCp8H3bFyErjG5SRQ-Xr_E", :name => "google-site-verification"}/
    %title Code Mountain
    = render 'layouts/head'
%body{:class => "application #{controller_name} #{action_name}"}
  #main-header
    .container
      #logo
        = link_to image_tag( '/images/cm-logo-full.png'), root_path
    %nav
      =image_tag('/images/neal_03.png', :class => "profile-pic")
    
      %ul.header_links
        %li= link_to "Profile", root_path
        %li= link_to "Dashboard", root_path
        %li= link_to "Messages", root_path
        %li{:class => "last"}= link_to "Logout", root_path
  .content
    = yield
  = render 'layouts/debug'
