<!DOCTYPE html>
<html>
<head>
  <title>Code Mountain</title>
  <%= render 'layouts/bp_head' %>
</head>
<body class="application <%= controller_name -%> <%= action_name -%> two-col">
  <%= render "layouts/nav" %>
  <div id='container'>
    <%= yield %>
  </div>
</body>
</html>
