<!DOCTYPE html>
<html>
<head>
  <title>Code Mountain</title>
  <%= render 'layouts/head' %>
</head>
<body class="application <%= controller_name -%> <%= action_name -%>">
  <%= render "layouts/nav" %>

<div class="content">
  <%= yield %>
</div>

<%= render "layouts/debug" %>

</body>
</html>
