<!DOCTYPE html>
<html>
<head>
  <title>Code Mountain</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application' %>

</head>
<body class="<%= controller_name -%> <%= action_name -%>">

<%= yield %>

</body>
</html>
