!!! 5
%html
  %head
    %title Code Mountain
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'tutorial'
    = javascript_include_tag 'application'
%body
  %div{:class => "dialog #{controller_name} #{action_name}"}
    = yield
