!!! 5
%html
  %head
    %title Code Mountain
    = render 'layouts/head'
    = stylesheet_link_tag 'marketing'
%body{:class => "marketing #{controller_name} #{action_name}"}
  #main-header
    .container
      #logo
        = link_to image_tag( '/images/cm-logo-full.png'), root_path
    %nav
      %ul.header_links
        %li= link_to "Home", root_path
        %li= link_to "About", about_path
  .content
    = yield
  = render 'layouts/debug'
  = render 'layouts/crazyegg'
