!!! 5
%html
  %head
    %title Code Mountain
    = render 'layouts/head'
    = stylesheet_link_tag 'tutorial'
%body{:class => "application #{controller_name} #{action_name}"}
  = yield
  -# render 'layouts/debug'
  = render 'layouts/crazyegg'
